#content {
    padding: 1em 2em;
}

#schemaInput {
    border: 1px solid #cbcbcb;
}

.alert,
#schemaInput {
    font-size: 12px;
    border-radius: .25em;
    margin-bottom: 1em;
}

#schemaInput {
    width: 100% !important;
}
